bin/Debug/netcoreapp3.1/KL.deps.json
bin/Debug/netcoreapp3.1/KL.dll
bin/Debug/netcoreapp3.1/KL.exe
bin/Debug/netcoreapp3.1/KL.pdb
bin/Debug/netcoreapp3.1/KL.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/KL.runtimeconfig.json
library/bin/Debug/netstandard2.0/library.deps.json
library/bin/Debug/netstandard2.0/library.dll
library/bin/Debug/netstandard2.0/library.pdb
library/obj/library.csproj.nuget.dgspec.json
library/obj/library.csproj.nuget.g.props
library/obj/library.csproj.nuget.g.targets
library/obj/project.assets.json
library/obj/project.nuget.cache
library/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
library/obj/Debug/netstandard2.0/library.AssemblyInfo.cs
library/obj/Debug/netstandard2.0/library.AssemblyInfoInputs.cache
library/obj/Debug/netstandard2.0/library.assets.cache
library/obj/Debug/netstandard2.0/library.csproj.CoreCompileInputs.cache
library/obj/Debug/netstandard2.0/library.csproj.FileListAbsolute.txt
library/obj/Debug/netstandard2.0/library.csprojAssemblyReference.cache
library/obj/Debug/netstandard2.0/library.dll
library/obj/Debug/netstandard2.0/library.pdb
obj/KL.csproj.nuget.dgspec.json
obj/KL.csproj.nuget.g.props
obj/KL.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/KL.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/KL.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/KL.assets.cache
obj/Debug/netcoreapp3.1/KL.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/KL.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/KL.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/KL.dll
obj/Debug/netcoreapp3.1/KL.exe
obj/Debug/netcoreapp3.1/KL.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/KL.pdb
